body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}
.none-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}
.form-main {
    width: 690px;
    height: 570px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: absolute;
}
.tab-account{
    width: 635px;
    height: 400px;
    display: flex;
    text-align:center;
    align-items: center;
    flex-direction: column;
}
.label-login{
    margin-top: 13%;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}
.label-title {
    display: block;
    color: black;
    margin: 0;
    padding: 10px 0 0 10px;
    width: 517px;
    height: 40px;
    text-align: left;
    box-sizing: border-box;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}